h1 {
    text-align: center;
  }
  
  .links {
    text-align: center;
    margin: auto;
    width: 50%;
    
  }
  
  .link {
    background-color: #b3e0ff; 
    color: #4d4d4d; 
    padding: 2% 4%;
    border: none;
    border-radius: 5px;
    margin: 5%;
    cursor: pointer;
  }